server/.env
server/node_modules/
server/template/
server/utils/cmmsge.firebasetoken.json
server/.env.example
server/cmmsflow.drawio
server/utils/firebase.configuration.js
server/notificationlog.txt
client/webge